.homepage_filter_area {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  margin-top: -120px;
  width: 100%;
  z-index: 15;
  .filter_area {
    padding: 8px 8px 8px 12px;
    background: hsla(0, 0%, 100%, 0.92);
    border: 1px solid #fff;
    -webkit-backdrop-filter: saturate(340%) blur(24px);
    backdrop-filter: saturate(340%) blur(24px);
    margin: 68px -6px;
    border-radius: 24px;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.03);
  }
  .selection_picker {
    position: relative;
    padding-top: 3px;
    select {
      border: none;
      background: none;
      font-weight: bold;
      padding: 0;

      option li {
        padding: 10px 0 !important;
        border-radius: 10px;
      }
    }
    select:focus {
      outline: none;
      box-shadow: none;
    }
    label {
      color: #67767c;
      margin: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 16px;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      border-top: none;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .filter_dates {
    position: relative;
    label {
      color: #67767c;
      display: block;
      margin-bottom: 0;
    }
    input {
      border: none;
      background: none;
      font-weight: bold;
    }
    input:focus {
      outline: none;
      box-shadow: none;
    }
    input::placeholder {
      color: #67767c;
      font-size: 0.875em;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 16px;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      border-top: none;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .filter_guests {
    label {
      margin-bottom: 0;
    }
    .filter_guests_text {
      display: block;
      font-weight: bold;
    }
    .filter_guests_buttons {
      border: 1px solid rgba(74, 95, 100, 0.2);
      border-radius: 45px;
      position: absolute;
      top: 25px;

      button {
        background: none;
        border: none;
      }
    }
    .filter_guests_label {
      color: #67767c;
    }
  }

  .filter_submit {
    button {
      padding-right: 0;
      border-radius: 20px;
      background: linear-gradient(90deg, #72a2af 0%, #4a7889 100%);
      width: 80%;
      height: 55px;
      margin-left: 48px;
      padding-right: 0;

      span {
        img {
          position: absolute;
          right: 13.45%;
          top: 38.5%;
          width: 14px;
        }
      }
    }
  }
}

.selection_picker-container > button {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
}
.dropdown-toggle::after {
  content: none !important;
}
