.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.app {
     width: 45%;
	max-width: 160px;
	color: #fff;
	margin: 20px 10px;
	text-align: left;
	border-radius: 5px;
	text-decoration: none;
	font-family: "Lucida Grande", sans-serif;
	font-size: 10px;
	text-transform: uppercase;
    background-color: #101010;
	transition: background-color 0.25s linear;
	background-color: #454545;
}
